.jumbotron {
    text-align: center;
    background-color: rgb(56, 55, 55);
    color: #fff;
 }

 #mainCard {
     border: 1px solid gray;
     border-radius: 4px;
 }

 #btn-Search {
     border-radius: 4px;
 }